[Unit]
Description=Web Site Staging Daemon

[Service]
Type=simple
User=svnwc
Group=svnwc
WorkingDirectory=/opt/staged
ExecStart=/usr/local/bin/uv run staged.py

[Install]
WantedBy=multi-user.target
